.testimonial__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.429rem 1.214rem ;
  flex-direction: column;
  gap: 3rem;
}

.testimonial__title {
  text-align: center;
  font-size: 1.857rem;
}

.testimonial__card {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 340px;
  height: 250px;
  gap: 1rem;
}

.testimonial__card-img-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 115px;
  height: 250px;
  overflow: hidden;
  border-radius: 10px;
  object-fit: cover;
}

.testimonial__card-img {
  width: 115px;
  height: 250px;
  object-fit: cover;
}

.testimonial__card-info {
  width: 210px;
  height: 250px;
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  flex-direction: column;
}

.testimonial__card-title {
  font-size: 1.4rem;
  text-align: start;
}

.testimonial__card-description {
  font-size: 1.071rem;
  align-items: start;
}

.testimonial__card-celeb-wrapper {
  font-size: 1.217rem;
  display: flex;
  flex-direction: column;
}

.celeb-name {
  font-weight: 700;
}

.verified-badge {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  color: #414141;
  gap: 0.5rem;
}

.verified-badge svg {
  width: 10px;
  height: 10px;

}

.verified-badge svg path {
  fill: #414141;
}

@media screen and (min-width: 789px) {

  .testimonial__card {
    width: 560px;
    height: 350px;
  }

  .testimonial__card-img-wrapper {
    width: 220px;
    height: 350px;
  }

  .testimonial__card-img {
    width: 220px;
    height: 350px;
  }

  .testimonial__card-info {
    width: 300px;
    height: 350px;
  }

  .testimonial__card-title {
    font-size: 24px;
  }

  .testimonial__card-description {
    font-size: 22px;
  }

  .testimonial__card-celeb-wrapper {
    font-size: 20px;
    flex-direction: row;
    gap: 1rem
  }

  .verified-badge svg {
    width: 20px;
    height: 20px;
  }

  
}

